.App {
  text-align: end;
  padding: 5%;
}



.sidebar{
  background: rgb(105, 186, 233);
    position: fixed;
    top: 20;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    
}

.nvbar{
  text-align: right;
  justify-content: center;
  color:rgb(255, 254, 254);
  position:relative;
}

.tft{
  border-color: black;
  border-radius: 20px;
  box-shadow: blue;
}

.main{
  text-align: center;
  justify-items:end ;
  justify-content: end;
  align-items: flex-end;
}